<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <h1><%= title %></h1>
    <h4>Author: <%= author %></h4>
    <div><%= body %></div>

  </body>
</html>
